$colorText:#FFF;

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Montserrat;  
}

// .body_content {
//     display: grid;
//     grid-template-columns: repeat(12, 1fr);
//     gap: 32px;
    
// }

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.button:hover {
    background: rgb(235, 68, 63);
}

.header {
    background: linear-gradient(180.00deg, rgba(0, 0, 0, 0) -7.355%,rgb(0, 9, 21) 100%),url(0001);
    background-image: url(./img/Rectangle\ 1.png);
    background-size: cover;
    // width: 1440px;
    height: 1024px;
    padding-top: 217px;

    &__text_top {
        color: $colorText;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    &__text_content {
        color: $colorText;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        width: 481px;
        padding-top: 32px;
        padding-bottom: 44px;
    }
    &__text_go {
        color: $colorText;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
    }
    
    &__button {
        box-sizing: border-box;
        width: 234.063px;
        height: 48.603px;
        border-radius: 30px;
        background: #9C0332;
        color: $colorText;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        border: none;
    }
}
.content {
    height: 556px;
    display: flex;
    justify-content: center;
    gap: 32px;
    align-items: center;
    box-sizing: border-box;
    background-color: #000915;
    border: none;
}
.img__game:hover {
    border: 3px solid rgb(68, 210, 255);
    border-radius: 16px;
}

.game {    
    &__img {
        position: relative;
    }
    &__name {
        color: $colorText;
        font-family: Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
        box-sizing: border-box;
        left: 32px;
        bottom: 32px;
        position: absolute;
    }
}
.content-next {
    height: 800px;
    background: rgb(0, 9, 21);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 135px;
    &_left {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
    &__top {
        color: $colorText;
        font-family: Montserrat;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 59px;
    }
    &__text {
        color: $colorText;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 32px;
    }
    &__button {
        box-sizing: border-box;
        width: 234.06px;
        height: 48.6px;
        border-radius: 30px;
        background: rgb(156, 3, 50);
        color: $colorText;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        border: none;
    }
    &_singl {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 32px;
        justify-content: center;
        align-items: center;
        max-width: 1200px;
        .singl {
            text-align: center;
        }
    }  
}
.footer {
    background: rgb(0, 9, 21);
    box-sizing: border-box;
    padding-top: 32px;
    padding-bottom: 32px;    
    &__text {
    color: $colorText;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0px;
    text-align: center;
    }
}


    /* Стили для мобильного */

@media (min-width:375px) and (max-width:1439px) {
    .center {
        padding-left: calc(50% - 171px );
        padding-right: calc(50% - 171px );
    }
    .header {
        height: 735px;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        padding-top: 0px;

        &__text_top {            
            font-size: 32px;
            line-height: 39px;
            text-align: center;
        }
        &__text_content {
            width: auto;
            font-size: 14px;
            text-align: center;
        }
        
    }
    .content {
        display: flex;
        flex-direction: column;
        gap: 32px;        
        background-color: #000915;
        height: 1221px;
    }
    
    .img__game {
        width: 343px;
    }
    .content-next {
        display: flex;
        flex-direction: column;
        gap: 64px;
        &_left {
            align-items: center;
        }
        &__top {
            font-size: 32px;
            line-height: 39px;
            text-align: center;
        }
        &__text {
            font-size: 14px;
            line-height: 22px;
            text-align: center;
        }
        &__img {
            width: 344px;
        }
    }
    .content-next_reverse {
        display: flex;
        flex-direction: column-reverse;
        gap: 64px;
    }
}