$colorText:#FFF;

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Montserrat;  
}

.body_content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
    
}
.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}
.header {
    background: linear-gradient(180.00deg, rgba(0, 0, 0, 0) -7.355%,rgb(0, 9, 21) 100%),url(0001);
    background-image: url(./img/Rectangle\ 1.png);
    background-size: cover;
    width: 1440px;
    height: 1024px;
    padding-top: 217px;

    &__text_top {
        color: $colorText;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    &__text_content {
        color: $colorText;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        width: 481px;
        padding-top: 32px;
        padding-bottom: 44px;
    }
    &__text_go {
        color: $colorText;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
    }
    
    &__button {
        box-sizing: border-box;
        width: 234.063px;
        height: 48.603px;
        border-radius: 30px;
        background: #9C0332;
        color: $colorText;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border: none;
    }
}
.content{
    display: flex;
    justify-content: center;
    gap: 32px;
    background-color: #000915;
    box-sizing: border-box;
    padding-top: 128px;
    padding-bottom: 128px;
    border: none;
}

.game {
    &__img {
        position: relative;
    }
    
    &__name {
        color: #FFF;
        font-family: Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
        box-sizing: border-box;
        left: 32px;
        bottom: 32px;
        position: absolute;
    }
}
